/* Hide the title */
.ytp-title {
    display: none !important;
  }
  
  /* Hide the channel logo */
  .ytp-channel-logo {
    display: none !important;
  }
  
  /* General text styling */
  * {
    color: black !important;
    font-weight: 400 !important;
  }
  